input{
    border: transparent;
    border-bottom: 1px solid;
    width: 70px;
}
input:hover{
    border: transparent;
    border-bottom: 1px solid red;
    outline: none;
}
input:active{
    border: transparent;
    border-bottom: 1px solid red;
    outline: none;
}
input:focus-visible{
    border: transparent;
    border-bottom: 1px solid red;
    outline: none;
}